@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
 *{
    margin: 0;
    padding: 0;
} 
.btn-container{
    text-align: center;
}
.btn{
    padding: 11px 15px 11px 15px;
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 10px;
font-weight: 600;
line-height: 13px;
letter-spacing: 0%;
text-align: center;
border-radius: 7px;
background: rgb(82, 195, 3);
border: none;
cursor: pointer;
}
#hero{
    height: 960px;
    background-image:linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
#hero .hero-content{
    width: 512px;
   

}
#hero .hero-content .subtitle{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 17px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
margin-bottom: 8.5px;


}
#hero .hero-content .title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 32px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 12px;

}
#hero .hero-content .description{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 9.5px;
font-weight: 500;
line-height: 13px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 16px;

}
#card-box{
    width: 647px;
    margin: 80px auto;
}
#card-box .info{
}
#card-box .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 22px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
#card-box .subtitle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 12px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;

}
.card-container{
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-family: Work Sans;
}
.card{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 200px;
}
.card .image-box img{
    width: 100%;
}
 .card .shop{
   background-color: aquamarine;
   padding: 8px 15px 8px 15px;
   border-radius: 8px;
   background: rgba(82, 195, 3, 0.15);

} 
